<footer class="footer">
  <div class="container">
    <p class="footer-desc">
      <a
        class="main-title-link"
        href="https://github.com/goitacademy/vanilla-app-template"
        target="_blank"
        rel="noopener noreferrer"
      >
        Template
      </a>
      made with ✨ by
      <a
        class="footer-link"
        href="https://goit.global/ua/"
        target="_blank"
        rel="noopener noreferrer"
      >
        GoIT team
      </a>
    </p>
  </div>
</footer>
